.layout-styles {
    color: #232129;
    background-color: #f9f9f9;
    padding: 0;
    font-family: 'Poppins, -apple-system, Roboto, sans-serif, serif';
}
.page-styles {
    color: #232129;
    padding: 15rem;
    font-family: 'Poppins, -apple-system, Roboto, sans-serif, serif';
    position: relative;
}
.header {
    color: #232129;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Poppins, -apple-system, Roboto, sans-serif, serif';
}

.header-styles {
    margin-top: 0;
    margin-bottom: 64px;
    max-width: 320;
    font-family: 'Poppins, -apple-system, Roboto, sans-serif, serif';
}

.heading-accent-styles {
    color: #663399;
}

.paragraph-styles {
    margin-bottom: 48px;
}

.code-styles {
    color: #8a6534;
    padding: 4px;
    background-color: #fff4db;
    font-size: 1.25rem;
    border-radius: 4;
}

.input-styles {
    color: #8a6534;
    padding: 4px;
    margin: 4px;
    background-color: #fff4db;
    font-size: 1.25rem;
    border-radius: 4px;
    border: 1px solid white;
    display: none;
    font-family: 'Poppins, -apple-system, Roboto, sans-serif, serif';
}

.file-styles {
    padding: 4px;
    margin: 4px;
    background-color: #fff4db;
    font-size: 1.25rem;
    border-radius: 4px;
    border: 1px solid white;
    font-family: 'Poppins, -apple-system, Roboto, sans-serif, serif';
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
    background-color: #f9f9f9;
    font-family: 'Poppins, -apple-system, Roboto, sans-serif, serif';
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    color: grey;
    text-anchor: middle;
    stroke: none;
    font-family: 'Poppins, -apple-system, Roboto, sans-serif, serif';
}

.radial-grid {
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 0.5rem 0.5rem;
    width: 25rem;
    height: 25rem;
    position: absolute;
    right: 15rem;
    top: 15rem;
    transform: translateY(0%);
    z-index: 0;
}

.typewriter {
    margin: 10rem 0 4rem 0;
    display: inline-block;
    text-align: center;
}
.type {
    width: auto;
    font-size: 2.5rem;
    color: gray;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.05em solid rgba(175, 175, 175, 0.2); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0; /* Adjust as needed */
    animation: typing 2.5s steps(18, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: gray;
    }
}

.step-styles {
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    align-items: center;
    max-width: 960px;
    font-size: 18px;
    line-height: 1.2em;
    color: #333;
    position: relative;
    cursor: default;
    min-width: 800px;
}

.step-styles::before {
    content: '';
    display: block;
    position: absolute;
    width: 70%;
    top: 29px;
    left: 15%;
    height: 1px;
    border-top: 2px solid rgba(0, 0, 0, 0.397);
    z-index: 1;
}

.step-circle {
    width: calc(33%);
    line-height: 1.4em;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    vertical-align: top;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background: #fff;
    color: #000;
    display: inline-block;
    border: 2px solid #000;
    overflow: visible;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 0 3px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
